* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FCFCFC;
    --secondary-color: #8B8B8B;
    --third-color: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
    /* na wszelki wypadek
    /* position: relative; */
}

nav ul {
    list-style-type: none;
    display: none;
}

nav ul li {
    padding: 25px;
}

.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.5s;
}


nav ul li a:hover, .menu-btn:hover, .close-menu-btn:hover  {
    color: var(--third-color);
}

.nav-logo {
    font-family: 'Allura', cursive;
    color: var(--main-color);
    font-size: 25px;
    
}

.material-symbols-outlined {
    padding-right: 10px;
    font-size: 16px;
}

.menu-btn {
    display: block;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    transition: color 0.5s;
}

.close-menu-btn {
    display: none;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    transition: color 0.8s;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-img-small.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header div {
    text-align: center;
}

header div p {
    font-size: 35px;
    color: var(--main-color);
    padding-bottom: 60px;
}

header div button {
    width: 150px;
    height: 40px;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.5s;
}

header div button a:hover {
    color: var(--third-color);
}

.about-me {
    background-image: url('images/about-me-img-large.jpg');
    background-size: cover;
    height: 100vh;
}

.about-me-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}

.text {
    /* width: 800px; */
    width: 250px;
    color:var(--main-color)
}

.text h1 {
    text-transform: uppercase;
    color: var(--main-color);
}

.text p {
    /* font-size: 18px; */
    font-size: 16px;
    color: var(--secondary-color);
}



/* .about-me img {
    padding-top: 20px;
    width: 300px;
    margin-left: 300px;
}

.about-me div {
    width: 500px;
}

.about-me div {
    margin: 20px 0 0 20px;
    width: 600px;
} */

@media (min-width:400px) {
    .text {
        width: 350px;
    }
}

@media (min-width:576px) {
    .material-symbols-outlined {
        font-size: 18px;
    }
    .nav-logo {
        font-size: 32px;
    }
    .menu-btn, .close-menu-btn {
        font-size: 28px;
    }
    header div p {
        font-size: 45px;
    }
    header div button {
        width: 200px;
        height: 45px;
    }
    .text {
        width: 500px;
    }
}

@media (min-width:776px) {
    .text {
        width: 650px;
    }
    .text p {
        font-size: 18px;
    }
}

@media (min-width:992px) {
    header {
        background-image: url(images/bg-img-large.jpg);
    }
    .material-symbols-outlined {
        font-size: 20px;
    }
    .nav-logo {
        font-size: 36px;
    }
    nav ul {
        display: flex;
    }
    .menu-btn {
        display: none;
    }


    header div p {
        font-size: 48px;
    }
    header div button {
        width: 250px;
        height: 45px;
        font-size: 16px;
    }
    .text {
        width: 800px;
    }
}

@media (min-width:1200px) {
    .material-symbols-outlined {
        font-size: 22px;
    }
    .nav-logo {
        font-size: 40px;
    }
    header div p {
        font-size: 60px;
    }
    header div button {
        width: 300px;
        height: 50px;
    }
}

