* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FCFCFC;
    --secondary-color: #8B8B8B;
    --third-color: #000000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    /* background-color: var(--third-color); */
    position: fixed;
    width: 100%;
    /* na wszelki wypadek
    /* position: relative; */
}

nav ul {
    list-style-type: none;
    display: none;
}

nav ul li {
    padding: 25px;
}

.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.5s;
}


nav ul li a:hover, .menu-btn:hover, .close-menu-btn:hover  {
    color: var(--third-color);
}

.nav-logo {
    font-family: 'Allura', cursive;
    color: var(--main-color);
    font-size: 25px;
    
}

.material-symbols-outlined {
    padding-right: 10px;
    font-size: 16px;
}

.menu-btn {
    display: block;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    transition: color 0.5s;
}

.close-menu-btn {
    display: none;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    transition: color 0.8s;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg-img-small.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header div {
    text-align: center;
}

header div p {
    font-size: 35px;
    color: var(--main-color);
    padding-bottom: 60px;
}

header div button {
    width: 150px;
    height: 40px;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.5s;
}

header div button a:hover {
    color: var(--third-color);
}

.about-me {
    background-image: url('images/about-me-img-small.jpg');
    background-size: cover;
    height: 100vh;
}

.about-me-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}

.text {
    width: 250px;
    color:var(--main-color)
}

.text h1 {
    text-transform: uppercase;
    color: var(--main-color);
}

.text p {
    font-size: 16px;
    color: var(--secondary-color);
    text-align: justify;
}

.offer {
    height: 920px;
    /* height: 100vh; */
    /* padding-top: 20px; */
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
}

.offer-wrapper {
    display: flex;
    /* justify-content: space-around; */
    /* wywalić flex direction przy wiekszej roz  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 60px 30px 0 30px; */
    padding-top: 25px;
}

.offer-box {
    margin-bottom: 25px;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 6px var(--main-color);
    border-radius: 20px;
    width: 220px;
    height:190px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: transform 0.4s;
    
}

/* .offer-box {
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 6px var(--main-color);
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 280px;
    cursor: pointer;
    transition: transform 0.4s;
} */

.offer-box:hover {
    transform: scale(1.05);
}

.train {
    background-image: url('images/train-img.jpg');
}

.diet {
    background-image: url('images/diet-img.jpg');
}

.complex {
    background-image: url('images/train2-img.jpg');
  
}

.offer-shadow {
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    height: 60px;
}

/* .offer-shadow {
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    height: 100px;
} */

.offer-text {
    margin-top: 5px;
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

/* .offer-text {
    margin-top: 30px;
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
} */

.offer-detail {
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

/* .offer-detail {
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
} */

/* .invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.invite-title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
}

.invite-offer {
    list-style-type: none;
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 22px ;
}

.invite-offer li {
    padding-bottom: 6px;
} */

.invite {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.invite-title {
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.invite-offer {
    list-style-type: none;
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 16px ;
}

.invite-offer li {
    padding-bottom: 3px;
}

.contact {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
}

.contact-logo {
    padding-top: 8px;
    font-family: 'Allura', cursive;
    color: var(--main-color);
    font-size: 25px;
    
}

.invite-contact {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.contact-links {
    padding-top: 8px;
}


.contact a {
    color: var(--main-color);
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.5s;
}

.contact a:hover {
    color: var(--secondary-color);
}

.opinion {
    background-color: var(--third-color);
}

.opinon-title {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
}

.opinions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px 0 12px;
}

.opinion-text {
    width: 240px;
    color: var(--main-color);
    padding-bottom: 20px;
    text-align: justify;
    color: var(--secondary-color);
    font-size: 16px ;
}

.name {
    font-family: 'Allura', cursive;
    font-size: 20px;
    color: var(--main-color);
}

@media (min-width:400px) {
    .text {
        width: 350px;
    }
    .offer {
        height: 850px;
    }
    .invite-contact {
        margin-top: 15px;
    }
    .contact {
        height: 140px;
    }
    .opinion-text {
        width: 340px;
    }
}

@media (min-width:576px) {
    .material-symbols-outlined {
        font-size: 18px;
    }
    .nav-logo {
        font-size: 32px;
    }
    .menu-btn, .close-menu-btn {
        font-size: 28px;
    }
    header div p {
        font-size: 45px;
    }
    header div button {
        width: 200px;
        height: 45px;
    }
    .text {
        width: 500px;
    }
    .opinion-text {
        width: 350px;
    }
}

@media (min-width:776px) {
    .text {
        width: 650px;
    }
    .text p {
        font-size: 20px;
    }
    .offer {
        /* height: 450px; */
        height: 600px;
        /* padding-top: 16px; */
        padding-top: 120px;
    }
    .offer-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    .offer-text {
        font-size: 16px;
    }
    .offer-detail {
        font-size: 14px;
    }
    .invite-title, .invite-contact, .opinon-title {
        font-size: 26px;
    }
    .invite-offer {
        font-size: 16px;
    }
    .invite-offer li {
        padding-bottom: 4px;
    }
 
    .opinion-text {
        width: 400px;
    }

}

@media (min-width:992px) {
    header {
        background-image: url(images/bg-img-large.jpg);
    }
    .material-symbols-outlined {
        font-size: 20px;
    }
    .nav-logo {
        font-size: 36px;
    }
    nav ul {
        display: flex;
    }
    .menu-btn {
        display: none;
    }


    header div p {
        font-size: 48px;
    }
    header div button {
        width: 250px;
        height: 45px;
        font-size: 16px;
    }
    .about-me {
        background-image: url('/images/about-me-img-large.jpg');
    }
    .text {
        width: 800px;
    }
    .opinions {
        flex-direction: row;
        justify-content: center;
    }
    .opinion-text {
        width: 160px;
        padding: 10px;
    }
    .contact-logo {
        font-size: 30px;
    }
    .contact a {
        font-size: 24px;
    }
}

@media (min-width:1200px) {
    .material-symbols-outlined {
        font-size: 22px;
    }
    .nav-logo {
        font-size: 40px;
    }
    header div p {
        font-size: 60px;
    }
    header div button {
        width: 300px;
        height: 50px;
    }
    .offer {
        /* height: 600px; */
        /* height: 100vh; */
        height: 600px;
        padding-top: 100px;
    }
    .offer-wrapper {
        justify-content: space-around;
        padding-top: 25px;
    }
    .offer-box {
        width: 260px;
        height: 220px;
    }
    .offer-shadow {
        height: 100px;
    }
    .offer-text {
        font-size: 22px;
    }
    .offer-detail {
        font-size: 16px;
    }
    .invite-title, .invite-contact {
        font-size: 30px;
    }
    .invite-offer, .contact a {
        font-size: 20px;
    }
    .invite-offer li {
        padding-bottom: 6px;
    } 
    .opinion-text {
        width: 200px;
        padding: 15px;
    }
}

